html {
    font-family: Arial, Helvetica, sans-serif;
}

div.scroll { 
    margin:4px, 4px; 
    padding:4px; 
    width: 500px; 
    height: 300px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
}

#inp_chat {
    height: 40px;
}

#chatbox {
    list-style: none;
}

#chatbox>li {
    margin-bottom: 10px;
}

#msg_user {
    font-size: 22px;
}

#msg_datetime {
    font-size: 12px;
    color: #aaaaaa;
}
